@import "./navbar.css";

body {
    margin: 0;
}

header {
    background-color: #a8dadc;
}

.img-header {
    width: 100%;
}

img {
    width: 100%;
}

.country-name {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 20px;
    color: #1d3557;
}

.country-content {
    display: flex;
    justify-content: space-evenly;
    background-color: #457b9d;
    padding: 66px 0;
}

.card {
    background-color: #f1faee;
    color: #1d3557;
}

