nav {
    padding: 1.5rem; 
    display: flex;
    justify-content: space-evenly;
    background-color: #e63946;
    
}

.country-nav {
    font-size: 1.5rem;
    white-space: nowrap;
    margin: 0 1rem; 
}

a {
    color: #f1faee;
    text-decoration: none;
}
a:hover {
    color: #555;
  }
